# Solution by Christian Sutton (christian.sutton@gmail.com)

## Objective

Get an evidence based understanding of how variables behave in Python.
Explore how setting two variables to the same value may (or may not) mean a deeper connection.

## Importance to project

These activities will help you see how variables (both mutable and immutable) behave when set to the same value. With this understanding of the problem you will be able to finish the project and reveal the truth about how Python variables function.

## Workflow

Write code to discover the extent of the puzzling behavior - creating and modifying pairs of variables with different types in Python.
Include types like int, float, string, list, tuple, and dictionary.
Create one variable, then create a second variable that is equal to the first.
Change one of the two variables and see what happens. If the type allows it try changing both the contents (an element in a list or dictionary) as well as setting it equal to a new object.
State your understanding of the ways Python variables behave.

## Deliverable

Submit the code you wrote in connection with Milestone 1 below (a Jupyter Notebook or the contents of your shell session). To cover all of the variable types (int, float, string, list, tuple, and dictionary) you should have 8 or 9 sets of variables.

Write code to discover the extent of the puzzling behavior -creating and modifying pairs of variables with different types in Python.
Include types like `int`, `float`, `str`, `list`, `tuple`, and `dict`.
Create one variable, then create a second variable that is equal to the first.
Change one of the two variables and see what happens. If the type allows it try changing both the contents (an element in a list or dictionary) as well as setting it equal to a new object.

## The problem

In this liveProject, you are a Python developer working on a team. A developer new to Python has come to you because he’s puzzled by some bugs in his code. Apparently, sometimes when he makes a copy of a variable and makes changes to the copy those changes are also unexpectedly made to the original. Other times, this doesn’t happen.

Specifically, he’s noticed that when he creates a variable and then assigns it to a second variable, he gets a surprising result:

`a = [1, 2, 3]`

`b = a`

`b[1] = 9`

`print(a, b)`

`[1, 9, 3] [1, 9, 3]`

But with int’s it behaves differently:

`a = 1`

`b = a`

`b = 2`

`print(a, b)`

`1 2`
You can see this illustrated in the introduction video.

This behavior has him completely puzzled. Why is it one way with int’s and another with lists?

He’s wondering if he’s found a bug in Python, or if there is something he doesn’t understand about Python variables. You need to set him straight in a way that he’ll remember, so that he’ll be able to reason correctly about variables in the future.

In [1]:
def ids(*args):
    for i in args:
        print(f'{i}\'s id is {id(i)}')

### Integers

In [2]:
a = 10
b = 5

In [3]:
ids(a,b)

10's id is 4430994048
5's id is 4430993888

In [4]:
b=a
ids(a,b)

10's id is 4430994048
10's id is 4430994048

In [5]:
a=25
ids(a,b)

25's id is 4430994528
10's id is 4430994048

In [6]:
del(a)
del(b)

### Floats

In [7]:
a = 10.0001
b = 5.0001

In [8]:
ids(a,b)

10.0001's id is 140490171561648
5.0001's id is 140490171561264

In [9]:
b=a
ids(a,b)

10.0001's id is 140490171561648
10.0001's id is 140490171561648

In [10]:
a=25.0989
ids(a,b)

25.0989's id is 140490171561840
10.0001's id is 140490171561648

In [11]:
del(a)
del(b)

### Strings

In [12]:
a_str = 'geophysics'
b_str = 'data science'

In [13]:
ids(a_str,b_str)

geophysics's id is 140490171965808
data science's id is 140490171965680

In [14]:
a_str = a_str[3:]
a_str

'physics'

In [15]:
ids(a_str,b_str)

physics's id is 140490171974640
data science's id is 140490171965680

In [16]:
b_str = a_str
ids(a_str,b_str)

physics's id is 140490171974640
physics's id is 140490171974640

In [17]:
b_str = b_str.replace('s','!')
print(a_str,b_str)

physics phy!ic!

In [18]:
ids(a_str,b_str)

physics's id is 140490171974640
phy!ic!'s id is 140490171687728

In [19]:
del(a_str)
del(b_str)

### Lists

In [20]:
a = [i for i in range(5)]
b = [i for i in range(4,-1,-1)]
print(a,b)

[0, 1, 2, 3, 4] [4, 3, 2, 1, 0]

In [21]:
ids(a,b)

[0, 1, 2, 3, 4]'s id is 140490171997568
[4, 3, 2, 1, 0]'s id is 140490171326336

In [22]:
b=a
print(b)

[0, 1, 2, 3, 4]

In [23]:
ids(a,b)

[0, 1, 2, 3, 4]'s id is 140490171997568
[0, 1, 2, 3, 4]'s id is 140490171997568

In [24]:
a[3] = 99
a

[0, 1, 2, 99, 4]

In [25]:
b

[0, 1, 2, 99, 4]

In [26]:
# copy method does not have this behavior
c = b.copy()
c

[0, 1, 2, 99, 4]

In [27]:
b[3] = 420
b

[0, 1, 2, 420, 4]

In [28]:
c

[0, 1, 2, 99, 4]

In [29]:
ids(a,b,c)

[0, 1, 2, 420, 4]'s id is 140490171997568
[0, 1, 2, 420, 4]'s id is 140490171997568
[0, 1, 2, 99, 4]'s id is 140490171370560

In [30]:
del(a)
del(b)
del(c)

### Tuples

tuples do not permit item assignment

In [31]:
t1 = (1,2,3)
t2 = (4,8,6)
ids(t1,t2)

(1, 2, 3)'s id is 140490172038400
(4, 8, 6)'s id is 140490171633088

In [32]:
t1 = t2
ids(t1,t2)

(4, 8, 6)'s id is 140490171633088
(4, 8, 6)'s id is 140490171633088

### Dictionaries

In [33]:
d1 = {'a':1,'b':5}
d2 = {'c':88,'d':99}
ids(d1,d2)

{'a': 1, 'b': 5}'s id is 140490172198144
{'c': 88, 'd': 99}'s id is 140490172198464

In [34]:
d2 = d1
d1['b'] = 9
d1

{'a': 1, 'b': 9}

In [35]:
d2

{'a': 1, 'b': 9}

In [36]:
ids(d1,d2)

{'a': 1, 'b': 9}'s id is 140490172198144
{'a': 1, 'b': 9}'s id is 140490172198144